services:
  - type: web
    name: roommatz-backend
    env: node
    region: oregon
    plan: free
    branch: master
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
      - key: FRONTEND_URL
        value: https://roommatz.vercel.app
      - key: BACKEND_URL
        sync: false
